<%- include('assets/partial/header2'); %>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Topic Content</h5>
                                            <p class="m-b-0">Shows all the topics in database</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb-title">
                                            <li class="breadcrumb-item">
                                                <a href="/admin"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="/admin/form-elements-component">Form &amp; Tables</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="/admin/form-elements-component">Form Components</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include('assets/partial/loader'); %>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                  
                                    <!-- Page body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Forms Present</h5>
                                                        <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                                    </div>
                                                    <div class="card-block">
                                                        <form id="deleting" class="form-material">
                                                            <% if(db_user!=null) {%>
                                                            <% for (var i=0;i< db_user.length; i++) { %>
                                                            <div id="idplay"class="form-group form-default" style="border-left-color: blue;border-left-width: 100px;">
                                                                <span id="items"><%= db_user[i].topic.toUpperCase() %></span>
                                                                <button  style="background-color: purple;color: white; margin-left:350px;border: none;border-radius:50%;">Delete</button>
                                                                <div id="items"><%= db_user[i].desc %></div>
                                                            </div>
                                                            <%}} %>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Adding a New Topic</h5>
                                                        <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                                    </div>
                                                    <div class="card-block">
                                                        <form id="adding" class="form-material">
                                                            <div class="form-group form-default form-static-label">
                                                                <input id="topics"type="text" name="footer-email" class="form-control" placeholder="Enter Title" required="">
                                                                <span class="form-bar"></span>
                                                                <label class="float-label"></label>
                                                            </div>
                                                            <div class="form-group form-default form-static-label">
                                                                <input id="subtopics"type="text" name="footer-email" class="form-control" placeholder="Enter Subtag" required="">
                                                                <span class="form-bar"></span>
                                                                <label class="float-label"></label>
                                                            </div>
                                                            <button class="button-success pure-button">ADD</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    
                                                            </div>
                                                            <!-- Page body end -->
                                                        </div>
                                                    </div>
                                                    <!-- Main-body end -->
                                                    <div id="styleSelector"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<script>
   const form=document.querySelector('#adding');
   form.addEventListener('submit',async (e)=>{
       e.preventDefault();
       const type_of_req="add";
       const topic=document.querySelector('#topics').value;
       const desc=document.querySelector('#subtopics').value;
       console.log(topic,desc);
       try{
           const res=await fetch('/admin/form-elements-component',{
               method:"POST",
               body:JSON.stringify({type_of_req,topic,desc}),
               headers:{"Content-Type":"application/json"}
           });
           location.assign('/admin/form-elements-component');
       }
       catch(err)
       {
           console.log(err);
       }
   });

   const form_2=document.querySelector('#deleting');
   form_2.addEventListener('click',async (e)=>{
      // e.preventDefault();//added extra
       const topic=e.target.parentElement.childNodes[1].textContent;
       const desc=e.target.parentElement.childNodes[5].textContent;
       const type_of_req="delete";
       try{
           const res=await fetch('/admin/form-elements-component',{
               method:"POST",
               body:JSON.stringify({type_of_req,topic,desc}),
               headers:{"Content-Type":"application/json"}
           });
          location.assign('/admin/form-elements-component');
       }
       catch(err)
       {
           console.log(err);
       }
   });
</script>
<script type="text/javascript" src="/assets/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui/jquery-ui.min.js "></script>
<script type="text/javascript" src="/assets/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap/js/bootstrap.min.js "></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/assets/js/jquery-slimscroll/jquery.slimscroll.js "></script>
<!-- waves js -->
<script src="/assets/pages/waves/js/waves.min.js"></script>

<!-- modernizr js -->
<script type="text/javascript" src="/assets/js/SmoothScroll.js"></script>
<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js "></script>
<!-- Custom js -->
<script src="/assets/js/pcoded.min.js"></script>
<script src="/assets/js/vertical-layout.min.js "></script>
<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>
</body>

</html>
