<%- include('partials/header'); -%>

<header>
  <form>
  <h2>Login</h2>
  <label for="username">Login-ID:</label>
  <input type="text" name="username" required/>
  <div class="usererrr"></div>
  <label for="passoword">Password:</label>
  <input type="password" name="password" requried/>
  <div class="passerrr"></div>
  <button class='btn' style="background-color: turquoise;"">Login</button>
  </form>
</header>

<script>
    const form=document.querySelector('form');
    const userserror=document.querySelector('.usererrr');
    const passserror=document.querySelector('.passerrr');
    userserror.textContent="";
    passserror.textContent="";
    form.addEventListener('submit',async (e)=>{
        e.preventDefault();
        const username=form.username.value;
        const password=form.password.value;
        try{
           const res=await fetch('/login',{
               method:"POST",
               body:JSON.stringify({username,password}),
               headers:{'Content-Type':'application/json'}
           });
           const data=await res.json();
           console.log(data);
           if(data.errors)
           {
               userserror.textContent=data.errors.username;
               passserror.textContent=data.errors.password;
           }
           if(data.user)
           {
               location.assign('/');
           }
        }
        catch(err)
        {
            console.log(err);
        }
    });
</script>

<%- include('partials/footer'); -%>